<form [formGroup]="smtpForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column gap-2">
        <label htmlFor="smtpServer">SMTP Server</label>
        <input id="smtpServer" type="text" pInputText formControlName="smtpServer" />
        
        <label htmlFor="smtpPort">SMTP Port</label>
        <input id="smtpPort" type="number" pInputText formControlName="smtpPort" />
        
        <label htmlFor="smtpUsername">SMTP Username</label>
        <input id="smtpUsername" type="text" pInputText formControlName="smtpUsername" />
        
        <label htmlFor="smtpPassword">SMTP Password</label>
        <p-password id="smtpPassword" formControlName="smtpPassword" [toggleMask]="true" [style]="{'width': '100%'}" [inputStyle]="{'width':'100%'}"></p-password>
        
        <div class="flex justify-content-end my-3">
          <p-button label="Enregistrer" type="submit" [disabled]="smtpForm.invalid"></p-button>
        </div>
      </div>
</form>
