<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
      <div class="flex flex-column align-items-center justify-content-center h-screen">
        <div class="flex flex-column align-items-center">
          <div style="color: var(--primary-color)" class="text-9xl font-bold">400</div>
          <p class="text-6xl font-bold text-900 mb-2">Requête invalide</p>
          <p class="text-3xl text-600">Désolé, votre requête ne peut pas être traitée.</p>
          <p-button 
            label="Retour à l'accueil" 
            icon="pi pi-home" 
            (onClick)="navigateToHome()" 
            styleClass="mt-4">
          </p-button>
        </div>
      </div>
    </div>
