<div class="grid h-screen">
  <div class="col-12 md:col-6 flex align-items-center justify-content-center">
    <div class="w-full h-full flex align-items-center justify-content-center">
      <p-image src="undraw_Educator.png" alt="Description" imageClass="max-w-full max-h-full object-contain"></p-image>
    </div>
  </div>
  <div class="col-12 md:col-6 flex align-items-center justify-content-center" style="background-color: #F0A868;">
    <div class="w-10 surface-card p-4 border-round shadow-8">
       <h2 class="text-center mb-4">{{ currentTitle }}</h2>
       <ng-content></ng-content>
    </div>
  </div>
</div>